.bubble-wrap {
    display: flex;
    flex-wrap: wrap;
    width: calc(20 * 50px); /* 20 coloane x 50px (bule + margin) */
    margin: auto; /* Centrarea în pagina */
    justify-content: start;
    align-items: start;

}

.bubble {
    width: 40px;  /* Lățimea unei bule */
    height: 40px; /* Înălțimea unei bule */
    background-color: rgb(202, 236, 243);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.8s;
    margin: 5px; /* Spațiu între bule */
}

.bubble.clicked {
    background-color: transparent; /* Elimină fundalul albastru */
    background-image: url('../imagini/Cerc.png'); /* Setează imaginea ca fundal */
    background-size: cover; /* Ajustează dimensiunea imaginii pentru a acoperi complet bula */
}
